<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= assigns[:title] %></title>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content={csrf_token_value()}>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/fontawesome/css/all.min.css")}/>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/leaflet/leaflet.css")} />
    <script defer type="text/javascript" src={Routes.static_path(@conn, "/leaflet/leaflet.js")}></script>
    <script defer type="text/javascript" src={Routes.static_path(@conn, "/klaxon/app.js")}></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
