<h1>Check-Ins: <%= @place.title %></h1>
<%= if @is_owner do %>
<div class="mb-4">
    <%= link to: Routes.checkin_path(@conn, :new, @place.id) do %>Add<% end %>
</div>
<% end %>
<%= render "list.html", assigns %>
