<h1><%= @title %></h1>
<%= if assigns[:current_user] && assigns[:current_profile] && Klaxon.Profiles.is_profile_owned_by_user?(assigns[:current_profile], assigns[:current_user]) do %>
<div class="mb-4">
    <%= link to: Routes.post_path(@conn, :new) do %>Add<% end %>
</div>
<% end %>
<%= render "list.html", assigns %>
