<h1>Traces</h1>

<%= if length(@traces) > 0 do %>
  <%= for trace <- @traces do %>
    <article class="mb-2">
      <%= prettify_date(trace.inserted_at) %> &ndash; <%= link to: Routes.trace_path(@conn, :show, trace.id) do %><%= trace.name || "Untitled" %><% end %>
    </article>
  <% end %>
<% else %>
  <p>No traces found.</p>
<% end %>
